@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome to the Cozy Crochet Corner</h1>
<div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Cost</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Oswald the Turtle</td>
          <td>$29.99</td>
          <td>3 Days</td>
        </tr>
        <tr>
          <th scope="row">2</th>
                <td>Bandit the Wizard</td>
          <td>$44.99</td>
          <td>5 Days</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Snorman the Snorlax</td>
          <td>$59.99</td>
          <td>7 Days</td>
        </tr>
      </tbody>
    </table>
</div>

<h2>About Cozy Crochet Corner</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Orci dapibus ultrices in iaculis nunc sed augue. Dui vivamus arcu felis bibendum ut tristique. 
Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. In eu mi bibendum neque egestas. 
Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis. Donec massa sapien faucibus et molestie ac feugiat sed. 
Urna neque viverra justo nec ultrices. Pulvinar etiam non quam lacus suspendisse. Vivamus at augue eget arcu dictum varius duis at consectetur. 
Lacus viverra vitae congue eu consequat ac felis donec et. Faucibus interdum posuere lorem ipsum dolor sit amet consectetur. 
Augue neque gravida in fermentum et. Gravida cum sociis natoque penatibus et magnis dis parturient montes. 
Erat pellentesque adipiscing commodo elit at imperdiet. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum.
</p>